*.pyc
*.egg
*.egg-info
*.mo

# Directories
/eggs/*
/parts/*
/bin/*
/extras/*
/develop-eggs/*
/var/*
/build/*
/dist/*
/docs/_build
/coverage

# Sublime Text
.codeintel/*
MKcodeintel

# buildout
.installed.cfg
.mr.developer.cfg

# eclipse
.project
.pydevproject
.settings

# Mac
.DS_Store

# Local development
local.cfg

# Emacs
.emacs.desktop*

# Virtualenv
/lib64/
/lib/
/include/
/local/
.Python

# tests
/test_acceptance/*
robot_*
