[buildout]
parts =  
	test
	instance
	zopepy
	omelette
extends = 
	http://dist.plone.org/release/4.1-latest/versions.cfg
	http://good-py.appspot.com/release/dexterity/1.2?plone=4.1.4
develop = .
extensions =
    mr.developer
    buildout.dumppickedversions
sources = sources
auto-checkout = 
	plone.multilingual
	plone.multilingualbehavior
	archetypes.multilingual
    plone.schemaeditor
versions = versions
sources-dir = extras
always-checkout = true

[sources]
plone.multilingual = git git@github.com:plone/plone.multilingual.git
plone.multilingualbehavior =  git git@github.com:plone/plone.multilingualbehavior.git branch=languageindependentfield
archetypes.multilingual =  git git@github.com:plone/archetypes.multilingual.git
plone.schemaeditor =  git git@github.com:plone/plone.schemaeditor.git branch=davisagli-addl-field-schemata

[instance]
recipe = plone.recipe.zope2instance
eggs =
    plone.app.multilingual
    plone.multilingual
    plone.multilingualbehavior
    archetypes.multilingual
    plone.reload
    plone.app.debugtoolbar
    plone.schemaeditor
    paste
user = admin:admin
http-address = 127.0.0.1:8080

#resources = ${buildout:directory}/resources

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy

[test]
recipe = zc.recipe.testrunner
eggs =
    plone.app.multilingual [test]
    plone.multilingual [test]
    archetypes.multilingual [test]
    plone.multilingualbehavior [test]
defaults = ['--auto-color', '--auto-progress']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
arguments = ('coverage', 'report')

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
