[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    test-plone-4.x.cfg

plone-series = 4.3

eggs += 
    plone.app.contenttypes

# Avoid referencing versions:Plone, which may not exist due to some
# buildout extensions or other problems.
basename =

[download]
recipe = hexagonit.recipe.download
url = https://launchpad.net/plone/4.3/4.3.2/+download/Plone-4.3.2-UnifiedInstaller.tgz

[install]
recipe = collective.recipe.cmd
on_install = true
cmds = tar jxvf ${download:location}/Plone-4.3.2-UnifiedInstaller/packages/buildout-cache.tar.bz2 1>/dev/null
