[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    test-plone-4.x.cfg

plone-series = 4.3

eggs += plone.app.contenttypes
test-eggs += plone.app.contenttypes
auto-checkout += plone.app.contenttypes

[versions]
# required by plone.app.contenttypes:
plone.dexterity = 2.2.1
plone.app.portlets = 2.5a1

[sources]
plone.app.contenttypes = git git://github.com/plone/plone.app.contenttypes.git pushurl=git@github.com:plone/plone.app.contenttypes.git
